@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

//fonts
%Nunito400 {
    font-family: Nunito;
    font-weight: 400;
}
%OpenSans700 {
    font-family: 'Open Sans';
    font-weight: 700;
}
%OpenSans600 {
    font-family: 'Open Sans';
    font-weight: 600;
}
%OpenSans400 {
    font-family: 'Open Sans';
    font-weight: 400;
}
%OpenSans300 {
    font-family: 'Open Sans';
    font-weight: 300;
}
%Montserrat400 {
    font-family: Montserrat;
    font-weight: 400;
}


.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;

        &__burger {
            display: none;
            background: white;

            @media (max-width: 767px) {
                display: block;
            }
        }

        &__row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }

		&__logo {
            font-size: 31.2px;
            line-height: 77px;
            text-transform: uppercase;
            color: #6d6e70;
            @extend %Nunito400;
		}

        &__logo span {
            color: #595959;
		}

        &__menu {
            @media (max-width: 767px) {
                display: none;
            }
        }

        &__menu-close {
            display: none;
            position: absolute;
            top: 0;
            left: 50%;
            background: #484848;
            z-index: 2;

            @media (max-width: 767px) {
                display: none;
            }
        }

        &__menu-close li {
            text-align: center;
            padding: 0 5px 0 5px;
        }

        &__menu-close li a {
            color: white;
        }

		&__menu li {
            display: inline-block;
            margin: 0 0 0 26px;

            @media (max-width: 810px) {
                margin: 0 0 0 10px;
            }

            @media (max-width: 767px) {
                display: block;
                background: #484848;
                margin: 0;
                text-align: center;   
            }     
		}

        &__menu li a:hover {
            color: black;
        }

        &__menu li:first-child {
            margin: 0 0 0 0;
		}

		&__item a {
            opacity: 0.67;
            font-size: 13.2px;
            line-height: 77px;
            color: #666666;
            @extend %OpenSans600;
		}

        &__login {
            opacity: 0.81;
        }

		&__login a {
            width: 100%;
            background-color: #add136;
            padding: 13px 30px 13px 30px;
            opacity: 0.81;
            font-size: 13.2px;
            line-height: 77px;
            color: #ffffff;
            border: 0px transparent;
            border-radius: 25px;
            @extend %OpenSans600;
		}

        &__login a:hover {
            background: #556e00;
        }
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

.main {
    
    display: flex;
    height: 100vh;
    background: url(../img/bg.png) center no-repeat;
    background-size: cover;

    &__row {
        margin: 84px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    &__title {
        font-size: 49.2px;
        line-height: 77px;
        color: #ffffff;
        text-align: center;
        margin: 0 0 60px 0;
        @extend %OpenSans600;
    }

    &__button a {
        background-color: #99c50a;
        font-size: 19.2px;
        line-height: 77px;
        color: #ffffff;
        padding: 20px 40px 20px 40px;
        width: 100%;
        border: 0px transparent;
        border-radius: 10px;
        @extend %OpenSans600;
    }

    &__button a:hover {
        background: #556e00;
    }
}

.presentation {

    &__row {
        padding: 100px 0 157px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &__icon {
        margin: 0 0 50px 0;
    }

    &__title {
        font-size: 31.2px;
        line-height: 50px;
        text-transform: uppercase;
        color: #515151;
        text-align: center;
        margin: 0 0 70px 0;
        @extend %OpenSans600;
    }

    &__text {
        opacity: 0.7;
        font-size: 19.2px;
        line-height: 1.2;
        color: #515151;
        text-align: center;
        @extend %OpenSans400;
    }
}

.projects {

    &__row {
        display: flex;
        flex-direction: column;
    }

    &__tabs {
        display: flex;
        justify-content: space-between;

        @media (max-width: 900px) {
            flex-direction: column;
            align-items: center;

        }
    }

    &__tab {
        display: flex;
        // border-bottom: 2px solid #add136;
        justify-content: space-between;
        align-items: center;
        padding: 0 27px 35px 3px;
        cursor: pointer;
        @media (max-width: 900px) {
            justify-content: center;
            width: 300px;
            justify-content: flex-start;
            margin: 0 0 20px 0;

        }
    }

    &__tab:last-child {
        margin: 0;
    }

    &__tab-icon {
        width: 42px;
        height: 42px;
        background-color: #5f5f5f;
        border: 1px solid #5f5f5f;
        border-radius: 50%;
        font-size: 20.2px;
        line-height: 1.2;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 30px 0 0;
        @extend %OpenSans600;

    }

    &__tab-text {
        font-size: 33.2px;
        line-height: 1.2;
        color: #656565;
        @extend %OpenSans300;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        padding: 65px 0 105px 0;
        @media (max-width: 900px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__icon {
        margin: 0 105px 0 88px;
        @media (max-width: 900px) {
            margin: 0 0 20px 0;
        }
    }

    &__block {
        display: flex;
        flex-direction: column;


    }

    &__title {
        font-size: 25.2px;
        line-height: 1.2;
        color: #add136;
        margin: 0 0 30px 0;
        @extend %OpenSans400;

        @media (max-width: 900px) {
            text-align: center;
        }
    }

    &__text {
        opacity: 0.67;
        font-size: 17.2px;
        line-height: 1.2;
        color: #606060;
        @extend %OpenSans400;

        @media (max-width: 900px) {
            text-align: center;
        }
    }
}

hr {
    height: 1px;
    width: 100%;
    background: rgb(240, 240, 240);
    @media (max-width: 900px) {
        display: none;
    }
}

.portfolio {
    background: linear-gradient(to right, #e2f8ff 50%, #f5f9eb 50%);
    padding: 47px 0 47px 0;

    @media (max-width: 900px) {
        padding: 47px 10px 47px 10px;
    }

    @media (max-width: 560px) {
        background: linear-gradient(to bottom, #e2f8ff 50%, #f5f9eb 50%);
        padding: 20px 5px 20px 5px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 560px) {
            flex-direction: column;
        }
    }

    &__col {
        display: flex;
        align-items: center;
        
        @media (max-width: 900px) {
            flex-direction: column;
        }

        @media (max-width: 560px) {
            padding: 0 0 20px 0;
        }
    }

    &__image-blue {
        margin: 0 45px 0 0;
        @media (max-width: 900px) {
            margin: 0 0 20px 0;
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        @media (max-width: 900px) {
            align-items: center;
            text-align: center;
        }
    }

    &__title {
        font-size: 23.2px;
        line-height: 1.2;
        color: #515151;
        margin: 0 0 35px 0;
        @extend %Montserrat400;

        @media (max-width: 560px) {
            margin: 0 0 15px 0;
        }
    }

    &__text {
        font-size: 17.2px;
        line-height: 1.2;
        color: #515151;
        margin: 0 0 30px 0;
        @extend %OpenSans400;

        @media (max-width: 560px) {
            margin: 0 0 10px 0;
        }
    }

    &__link {
        width: 186px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid transparent;
        border-radius: 10px;
        font-size: 14.9px;
        line-height: 1.2;
        color: #ffffff;
        @extend %OpenSans600;
    }

    &__link-blue {
        background-color: #26a6d1;
    }

    &__link-blue:hover {
        background: #015c7a;
    }

    &__image-green {
        margin: 0 72px 0 0;

        @media (max-width: 900px) {
            margin: 0 0 20px 0;
        }
    }

    &__link-green {
        background-color: #add136;
    }

    &__link-green:hover {
        background: #556e00;
    }
}

.featured {
    padding: 83px 0 66px 0;

    &__row {
        display: flex;
        justify-content:space-between;
        align-items: center;

        @media (max-width: 767px) {
            flex-direction: column;
        } 
    }

    &__col {
    }

    &__title {
        font-size: 29.2px;
        line-height: 1.2;
        color: #515151;
        margin: 0 0 25px 0;
        @extend %OpenSans600;

        @media (max-width: 767px) {
            text-align: center;
        } 
    }

    &__text {
        font-size: 17.2px;
        line-height: 1.2;
        color: #8f8f8f;
        @extend %OpenSans400;

        @media (max-width: 767px) {
            text-align: center;
            margin: 0 0 20px 0;
        } 
    }

    &__button {
        width: 183px;
        height: 52px;
        opacity: 0.41;
        background-color: #ffffff;
        border: 1px solid #515151;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__button:hover {
        background: black;
        
        a {
           color: white; 
        }
    }

    &__button a {
        // opacity: 0.7;
        font-size: 14.9px;
        line-height: 1.2;
        color: #515151;
        width: 100%;
        text-align: center;
        @extend %OpenSans600;
    }
}

.cities {
    

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 767px) {
            flex-direction: column;
        }
    }

    &__col {
        display: flex;
        flex-direction: column;
        margin: 0 40px 0 0;
        background-color: #f7f7f7;
        border: 1px solid rgba(0,0,0,0.13);
        border-radius: 10px;
        position: relative;

        @media (max-width: 995px) {
            margin: 0 5px 0 0;
        }

        @media (max-width: 767px) {
            width: 300px;
            margin: 0 0 30px 0;
        } 
    }

    &__col:last-child {
        margin: 0;
    }

    &__new {
        width: 74px;
        height: 74px;
        position: absolute;
        top: -1px;
        left: 0px;
        background: linear-gradient(to top left, transparent 50%, #add136 50%);
        border: 0px transparent;
        border-top-left-radius: 10px;
        padding: 2px 0 0 0;
        
    }

    &__new span {
        display: block;
        transform: rotate(-45deg);
        font-size: 14.6px;
        line-height: 1.2;
        color: #ffffff;
        @extend %Montserrat400;
    }

    &__image {
        width: 100%;
        position: relative;
    }

    &__image img {
        width: 100%;
    }

    &__item {
        position: absolute;
        right: 14px;
        bottom: 18px;
        width: 139px;
        height: 35px;
        background-color: #26a6d1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16.6px;
        line-height: 1.2;
        color: #ffffff;
        border: 0px transparent;
        border-radius: 10px;
        @extend %OpenSans400;
    }

    &__item span {
        font-weight: 700;
    }

    &__block {
        padding: 30px 25px 23px 25px;
    }

    &__title {
        font-family: 'Open Sans';
        font-size: 17.2px;
        line-height: 1.2;
        font-weight: 700;
        color: #484848;
        margin: 0 0 17px 0;
        @extend %OpenSans700;
    }

    &__text {
        opacity: 0.7;
        font-family: 'Open Sans';
        font-size: 13.2px;
        line-height: 1.2;
        font-weight: 400;
        color: #484848;
        margin: 0 0 20px 0;
        @extend %OpenSans400;
    }

    &__bar {
        margin: 0 0 20px 0;
        height: 15px;
        width: 100%;
        background-color: #e3e3e3;
        border: 0px solid transparent;
        border-radius: 10px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        margin: 0 0 20px 0;
    }

    &__funded {
        font-family: 'Open Sans';
        font-size: 13.2px;
        line-height: 1.2;
        font-weight: 600;
        color: #8d8d8d;
        @extend %OpenSans600;
    }

    &__days {
        font-family: 'Open Sans';
        font-size: 13.2px;
        line-height: 1.2;
        font-weight: 600;
        color: #8d8d8d;
        @extend %OpenSans600;
    }

    &__hr {
        margin: 0 0 25px 0;
        background: #e3e3e3;
        height: 2px;
    }

    &__link {
        display: flex;
        justify-content: flex-end;
        padding: 0 20px 0 0;
        position: relative;
        display: flex;
        align-items: center;
    }

    &__link a::after {
        content: '';
        border-top: 8px solid transparent;
        border-left: 12px solid #add136;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 0;
        right: 0;
    }

    &__link a {
        opacity: 0.7;
        font-family: 'Open Sans';
        font-size: 15px;
        line-height: 1.2;
        font-weight: 400;
        color: #484848;
        @extend %OpenSans400;
    }
}

.first__bar {
    display: block;
    width: 10%;
    background-color: #add136;
    height: 15px;
    border: 0px solid transparent;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.second__bar {
    display: block;
    width: 60%;
    background-color: #add136;
    height: 15px;
    border: 0px solid transparent;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.community {
    display: flex;
    flex-direction: column;
    background: url(../img/bg2.png) center no-repeat;
    background-size: cover;
    padding: 80px 0 60px 0;
    
    &__title {
        font-size: 39.2px;
        line-height: 1.2;
        color: #9ec02d;
        text-align: center;
        margin: 0 0 42px 0;
        @extend %OpenSans600;
    }

    &__text {
        font-size: 19.2px;
        line-height: 1.2;
        color: #949494;
        text-align: center;
        margin: 0 0 98px 0;
        @extend %OpenSans400;
    }

    &__row {
        display: flex;
        justify-content: space-between;

        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__row-info {
        display: flex;
        flex-direction: column;
    }

    &__col {
        display: flex;
        flex-direction: column;
        margin: 0 154px 0 0;
        position: relative;
        @media (max-width: 767px) {
            margin: 0 0 40px 0;
            max-width: 397px;  
        }

    }

    &__col:last-child {
        margin: 0;
    }

    &__comment {
        background: white;
        padding: 25px 40px 25px 35px;
        border: 0px transparent;
        border-radius: 15px;
        margin: 0 0 33px 0;
        position: relative;
    }

    &__comment::after {
        content: '';
        border-top: 0px solid transparent;
        border-left: 20px solid white;
        border-bottom: 20px solid transparent;
        position: absolute;
        bottom: -19px;
        left: 83px;
    }

    &__comment-title {
        font-size: 21.2px;
        line-height: 1.2;
        color: #9ec02d;
        text-align: center;    
        margin: 0 0 22px 0;
        @extend %OpenSans600;
    }

    &__comment-text {
        font-size: 13.2px;
        line-height: 1.8;
        color: #848484;
        text-align: center; 
        @extend %OpenSans400;
    }

    &__user {
        display: flex;
        align-items: center;
        padding: 0 0 0 50px;
    }

    &__image {
        margin: 0 18px 0 0;
    }

    &__name {
        font-size: 15.2px;
        line-height: 1.2;
        color: #494949;
        @extend %Montserrat400;
    }
}

.footer {
    padding: 45px 0 26px 0;

    &__socials {
        margin: 0 0 40px 0;
    }

    &__socials img{
        width: 100%;
    }

    &__hr {
        margin: 0 0 27px 0;
        width: 100%;
        // height: 1px;
        // background: #9f9f9f;
    }

    &__info {
        font-size: 13.2px;
        line-height: 1.2;
        color: #848484;
        text-align: center;
        @extend %OpenSans400;
    }
}



